@page
@model IndexModel
@using System.Collections.Generic;
@{
    ViewData["Title"] = "Testing page";
    List<string> fruits = new List<string>() { "Bananna", "Cherry", "Apple", "Pineapple" };
    ViewData["Hero-Heading"] = "This is the Index Page";
    ViewData["Hero-SubHeading"] = "We call this the home page.";
    ViewData["Hero-ImageLink"] = "https://picsum.photos/1920/1080";

    var vdHero = new ViewDataDictionary(this.ViewData) { { "", "" } };
    vdHero.Clear();

    foreach (var x in ViewData.Where(vd => vd.Key.StartsWith("Hero-")))
    {
        vdHero.Add(x);
    }

    }

    @section Scripts {
    @*<a href="https://www.google.ca/">Google</a>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <partial name="_ValidationScriptsPartial" />*@
}

@section NavItems {
    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Error">Error</a>
        </li>*@
}

<partial name="_HeroHeading" view-data="vdHero" />

<!--<form method="get">
    <input name="leftNumber" type="number" step="1" value="@Model.leftNumber" />
    <input name="rightNumber" type="number" step="1"  value="@Model.rightNumber" />-->
@*<input name="test" type="text" autocomplete="country" />*@
<!--<input type="submit" value="Submit" />
</form>-->
<!--<form asp-page="Index">-->
@*<div>
        <label asp-for="Customer.FirstName"></label>
        <input asp-for="Customer.FirstName" />
        <span asp-validation-for="Customer.FirstName"></span>
    </div>*@
@*<div>
        <label asp-for="Customer.LastName"></label>
        <input asp-for="Customer.LastName" />
        <span asp-validation-for="Customer.LastName"></span>
    </div>
    <div>
        <label asp-for="Customer.Email"></label>
        <input asp-for="Customer.Email" />
        <span asp-validation-for="Customer.Email"></span>
    </div>*@
@*<partial name="_FormInput" for="Customer.FirstName" />
    <partial name="_FormInput" for="Customer.LastName" />
    <partial name="_FormInput" for="Customer.Email" />*@
<!--<partial name="_FormInput" model="Model.Customer" />
    <input type="submit" value="Submit" />
</form>


<style>
    .answer {
        margin-top: 1rem;
    }
    </style>

@if (Model.ResultSet == true)
            {
            <div class="answer">The answer is: <output>@Model.Result</output></div>
    }-->
@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div>This is a change.</div>
    <p>@ViewData["Test"]</p>

    <p>@Model.maxInt</p>

    <datalist id="fruit-list">
        @foreach (string fruit in fruits)
        {
            <option>@fruit</option>
        }
    </datalist>

    <input type="text" list="fruit-list" />

    @for (int i = 0; i < 5; i++)
    {
        <div>@i</div>
    }
    <code>
        @for (int i = 0; i < 5; i++)
        {
            <span>@i</span>
        }
    </code>

    @foreach (string fruit in fruits)
    {
        <script>
    console.log("@fruit");</script>
    }


    <div>@(Math.Round(Math.Atan(1) * 4, 3))</div>*@

